# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [10]:
import pandas as pd
import numpy as np

# Seu código aqui
anoSemIndex = pd.Series([1900, 1920, 1940, 1960, 1980, 2000, 2020], index=['0','1','2','3','4','5','6'])
anomaliaSemIndex = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,.4,1.2])

#### 2) Coloque os anos nos índices conforme a tabela.

In [12]:
# seu código aqui
anoSemIndex.index

Index(['0', '1', '2', '3', '4', '5', '6'], dtype='object')

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [14]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas = pd.Series(dic_temperaturas)
serie_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [17]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    73.809444  102.691531  104.638333
1    74.680069   91.735962  103.055520
2   103.144280  103.125153  100.710720
3    82.444031   78.416587   97.450491
4   109.202740   89.281740  104.536496
5    85.930668  103.125452   98.393943
6    84.124798  101.069357   97.863606
7   108.741249  100.354037   96.503211
8   108.572713  108.677980   87.905347
9   115.513357   77.607416  111.662477
10   87.274927   90.607762  107.001325
11  112.801119   95.516772  105.357029
12  100.731133  103.480546   80.369709
13   91.793923   95.680015   96.568244
14  115.698023   95.706829  120.518048
15   98.174039  100.824819   93.521297
16   99.917277  103.134044   74.962888
17  105.835075   95.772390   81.526331
18  104.667217   99.886075   92.270550
19  112.427163  102.385445  110.410267

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [21]:
#seu código aqui
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
df.index = range(1,21)
df

            x1          x2          x3
1    73.809444  102.691531  104.638333
2    74.680069   91.735962  103.055520
3   103.144280  103.125153  100.710720
4    82.444031   78.416587   97.450491
5   109.202740   89.281740  104.536496
6    85.930668  103.125452   98.393943
7    84.124798  101.069357   97.863606
8   108.741249  100.354037   96.503211
9   108.572713  108.677980   87.905347
10  115.513357   77.607416  111.662477
11   87.274927   90.607762  107.001325
12  112.801119   95.516772  105.357029
13  100.731133  103.480546   80.369709
14   91.793923   95.680015   96.568244
15  115.698023   95.706829  120.518048
16   98.174039  100.824819   93.521297
17   99.917277  103.134044   74.962888
18  105.835075   95.772390   81.526331
19  104.667217   99.886075   92.270550
20  112.427163  102.385445  110.410267

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [38]:
# seu código aqui
df['Média'] = df.mean(axis=1)
df

            x1          x2          x3       Media       Média
1    73.809444  102.691531  104.638333   93.713103   93.713103
2    74.680069   91.735962  103.055520   89.823851   89.823851
3   103.144280  103.125153  100.710720  102.326718  102.326718
4    82.444031   78.416587   97.450491   86.103703   86.103703
5   109.202740   89.281740  104.536496  101.006992  101.006992
6    85.930668  103.125452   98.393943   95.816688   95.816688
7    84.124798  101.069357   97.863606   94.352587   94.352587
8   108.741249  100.354037   96.503211  101.866166  101.866166
9   108.572713  108.677980   87.905347  101.718680  101.718680
10  115.513357   77.607416  111.662477  101.594417  101.594417
11   87.274927   90.607762  107.001325   94.961338   94.961338
12  112.801119   95.516772  105.357029  104.558307  104.558307
13  100.731133  103.480546   80.369709   94.860463   94.860463
14   91.793923   95.680015   96.568244   94.680727   94.680727
15  115.698023   95.706829  120.518048  110.640967  110.640967
16   98.174039  100.824819   93.521297   97.506718   97.506718
17   99.917277  103.134044   74.962888   92.671403   92.671403
18  105.835075   95.772390   81.526331   94.377932   94.377932
19  104.667217   99.886075   92.270550   98.941281   98.941281
20  112.427163  102.385445  110.410267  108.407625  108.407625

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [9]:
# seu código aqui