# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [40]:
import pandas as pd
import numpy as np

# Seu código aqui
anoSemIndex = pd.Series([1900, 1920, 1940, 1960, 1980, 2000, 2020], index=['0','1','2','3','4','5','6'])
anomaliaSemIndex = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,.4,1.2])

#### 2) Coloque os anos nos índices conforme a tabela.

In [41]:
# seu código aqui
anoSemIndex.index

Index(['0', '1', '2', '3', '4', '5', '6'], dtype='object')

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [42]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas = pd.Series(dic_temperaturas)
serie_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [43]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0   120.407850   98.614310  112.853111
1    98.005391   83.203271  104.570586
2   109.907053   96.512035  103.523358
3   125.773656   89.006518   94.162651
4   105.853241   84.832879  108.855111
5    98.488516   91.596265  105.660358
6    97.493514  105.849701  109.973095
7    90.912515  107.130112  116.814229
8    85.833329  118.719167  105.477020
9   105.034599  119.432940  115.241862
10   97.525196  112.855443   94.093078
11   89.906790   99.034831   93.915563
12  104.340456   99.528432  107.061501
13   84.303334  104.719902  122.151736
14  109.489041   92.072152  104.704640
15   82.484055   95.973457   96.772385
16   97.328645  102.438260  100.474271
17   94.002661   99.798359   84.695000
18  113.560190   94.894991   84.711706
19  100.342202   94.239198  100.036582

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [44]:
#seu código aqui
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
df.index = range(1,21)
df

            x1          x2          x3
1   120.407850   98.614310  112.853111
2    98.005391   83.203271  104.570586
3   109.907053   96.512035  103.523358
4   125.773656   89.006518   94.162651
5   105.853241   84.832879  108.855111
6    98.488516   91.596265  105.660358
7    97.493514  105.849701  109.973095
8    90.912515  107.130112  116.814229
9    85.833329  118.719167  105.477020
10  105.034599  119.432940  115.241862
11   97.525196  112.855443   94.093078
12   89.906790   99.034831   93.915563
13  104.340456   99.528432  107.061501
14   84.303334  104.719902  122.151736
15  109.489041   92.072152  104.704640
16   82.484055   95.973457   96.772385
17   97.328645  102.438260  100.474271
18   94.002661   99.798359   84.695000
19  113.560190   94.894991   84.711706
20  100.342202   94.239198  100.036582

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [45]:
# seu código aqui
df['Média'] = df.mean(axis=1)
df

            x1          x2          x3       Média
1   120.407850   98.614310  112.853111  110.625090
2    98.005391   83.203271  104.570586   95.259750
3   109.907053   96.512035  103.523358  103.314148
4   125.773656   89.006518   94.162651  102.980942
5   105.853241   84.832879  108.855111   99.847077
6    98.488516   91.596265  105.660358   98.581713
7    97.493514  105.849701  109.973095  104.438770
8    90.912515  107.130112  116.814229  104.952286
9    85.833329  118.719167  105.477020  103.343172
10  105.034599  119.432940  115.241862  113.236467
11   97.525196  112.855443   94.093078  101.491239
12   89.906790   99.034831   93.915563   94.285728
13  104.340456   99.528432  107.061501  103.643463
14   84.303334  104.719902  122.151736  103.724991
15  109.489041   92.072152  104.704640  102.088611
16   82.484055   95.973457   96.772385   91.743299
17   97.328645  102.438260  100.474271  100.080392
18   94.002661   99.798359   84.695000   92.832007
19  113.560190   94.894991   84.711706   97.722296
20  100.342202   94.239198  100.036582   98.205994

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [47]:
# seu código aqui
df['log_med'] = np.log(df['Média'])
df

            x1          x2          x3       Média   log_med
1   120.407850   98.614310  112.853111  110.625090  4.706147
2    98.005391   83.203271  104.570586   95.259750  4.556607
3   109.907053   96.512035  103.523358  103.314148  4.637774
4   125.773656   89.006518   94.162651  102.980942  4.634544
5   105.853241   84.832879  108.855111   99.847077  4.603640
6    98.488516   91.596265  105.660358   98.581713  4.590886
7    97.493514  105.849701  109.973095  104.438770  4.648601
8    90.912515  107.130112  116.814229  104.952286  4.653506
9    85.833329  118.719167  105.477020  103.343172  4.638055
10  105.034599  119.432940  115.241862  113.236467  4.729478
11   97.525196  112.855443   94.093078  101.491239  4.619972
12   89.906790   99.034831   93.915563   94.285728  4.546330
13  104.340456   99.528432  107.061501  103.643463  4.640957
14   84.303334  104.719902  122.151736  103.724991  4.641743
15  109.489041   92.072152  104.704640  102.088611  4.625841
16   82.484055   95.973457   96.772385   91.743299  4.518994
17   97.328645  102.438260  100.474271  100.080392  4.605974
18   94.002661   99.798359   84.695000   92.832007  4.530791
19  113.560190   94.894991   84.711706   97.722296  4.582130
20  100.342202   94.239198  100.036582   98.205994  4.587067